
* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

html {
    font-size: 70%;
    /* ocultar la barra horizontal
    overflow-x: hidden; */
}
body{
    background-color: #f0ecec;
}


.cabezera {
    background: rgba(50, 48, 50, .2);

}
 /* LOGO */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.caja {
    /* background-color: #323032; */
    background-color: rgba(50,48,50,.9);
    width: 100%;
    height: 15px; 
}

.navbar {
    display:inline-block;
    
}

/* REDES */

#men-acc li {
    padding: 5px 5px;
    float: left;
}

#men-acc {
    font-weight: 600;
    list-style: none;
    font-size: .8rem;
    display:block;
    letter-spacing: -0.05rem;
    color: #eee;
}
#men-acc a {
    color: #eee;
}

.gris03 {
    background: #939398;
}

#redes {
    display: inline-block;
}


/* MENU STYLES */
.color-button{
    color: #ffffff;
}

.menu-up .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #ffffff;
}

.menu-up nav.navbar {
    background-color:rgb(100, 0, 29);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    
    
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}


.navbar-nav .nav-item:hover {
    background-color: #430215;
    color: #ffffff;

}

.logo-menu{
    display: none;
}


.icon-responsive{
    display: flex;
    justify-content: space-between;
}

.img-disp-mobil{
    display: none;
}

/* ORGANIZACION */
.wd-men-pag a {
	color: #323032;
}

.wd-men-pag a:hover {
	color:#000;
	}
.wd-men-pag h2{
    color: #64001d;
    margin-left: 15px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    }
.wd-men-pag li {
    padding: 10px 15px;
    text-transform: uppercase;
    border-bottom: rgba(0, 0, 0, .2) solid 1px;
}

.fnt-10 {
font-family: 'Open Sans', sans-serif;
font-size: 12px;
}

.grisb01 {
    background: rgba(188, 184, 173, .3);
}

.menu-nosotros{
    margin-top: 2em;
}



/* BARRA GESTIONES */


.gd-principal{
    
    display: inline-block;
}

.gd-img{
    max-width: 100%;
}

.style-mv-color{
    color: #ffffff;
    background-color:rgb(100, 0, 29);
    margin-left: 0.5em;
}

.style-mv-color:hover{
    color: #ffffff;
    background-color: #430215;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus{
    background: #9B0D43;
    color:white;
    font-weight:550;
}

.subtitulo{
    padding-left: .5rem;
    margin: 0 26px;
    font-family: OpenSans-Bold, sans-serif;

  }
  
  
  .style-news{
    display: inline-block;
  }

  .gris01 {
    background:#DBDBDB;
    border-bottom: #6d6d72 solid 1px; 
    z-index: 1050;
	
  }

  

.gris02:hover {
    background-color: rgba(0,0,0,.15);
}

/* .vertical{
    position: fixed;
    z-index: 1000;
    
} */

/* CONTENIDO PILLS- PASTILLAS */
.style-pill{
    width: 100%;

}

.img-regl{
    display: inline-block;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* REGLAMENTOS */

.card {
    background-color: #ECECEC;
    margin-bottom: .5em;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }

.card h5 {
    font-weight:bold;
    color: rgb(100, 0, 29);

}
 

/*  CONTENIDO PROCEDIMIENTOS */

.style-procedimientos{
    height: 5em;
}

/* PREGUNTAS FRECUENTES */
#preg-frec {
    margin: 0px 20px;
    padding-left: 0%;
}

#preg-frec li{
    border-top: #6d6d72 solid 1px;
    padding: 15px;
    display: block;
    width: 100%;
}

#preg-frec li h3 {
    color: #64001d;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 15px 0;
    letter-spacing: -0.05rem;
}

/*#preg-frec {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: rgb(100, 0, 29);
} */



/* CARRUSEL */

.principal {
width: 90%;
margin: auto;
}



.portada {
    width: 100%;
    display: flex;
    justify-content: center;
}

.noticias {
    text-align: justify
} 

.style-noticias{
    background-color: #FFFFFF;
    padding: 1em;
    font-size: 0.8rem;
    margin-bottom: 1em;
}


.btn-more{
    color: #64001d;
    margin: 20px 0;
    display: inline-block;
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: 600;
}

.title-section{
    border-left: 8px solid #64001d;
    word-wrap: break-word;
    padding-left: .5rem;
    margin: 26px 26px ;
    width: auto;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.6rem;
}
 /* COMUNICADO */
 .comunicado {
     max-width: 100%;
     display: inline-block;
     margin-top: 1em;
     margin-bottom: 2em;;
     background-color: #FFFFFF;
     
 }

/* NOSOTROS */
.nosotros{
    text-align: justify;
    margin-bottom: 2em;
    overflow:hidden;
    
}

.nosotros h4, .nosotros h3 {
   color: rgb(100, 0, 29);
}

.banner{
    filter:brightness(0.7);
    margin-bottom: 3em;
}

.zoom{
    transition: all .5s ease;
   /*  transition: width 2s, height 2s, transform 2s; */
    
    
}

.zoom:hover{
    transform:scale(1.1);
    /* transform : scale(2);
     */
}

/* DOCUMENTOS ACADEMICOS */

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 6px;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 3px;
    
}

.btn-xs:hover {
    background-color: rgb(221, 221, 221);
}

.btn-default {
    color: #333;
    background-color: #f0ecec;
    border-color: #ccc;
}

.documentos-academicos{
    font-family: 'Open Sans';
}

/* .polit-calidad {
    background: rgba(100, 0, 29, .1);
    height: 100px;
    
}
 */
/* 




/* FOOTER */
.footer {
    background-color: rgba(50,48,50,.9);
    padding: 1.5em 2em;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}



.footer h3{
    font-size: 1.2rem ;
    padding: 0px;
    margin-bottom: 1rem;
}

.fnt-peq {
    font-size: .9em;
}

/* FOOTER2 */
.style-secondfooter{
    font-size: 0.8rem;
}

.mapa{
    padding: 15px;
    
}



/* creditos */
.creditos{
    background-color: rgba(50,48,50,1);
    color: #FFFFFF;
    font-family: Helvetica, Arial;
    font-size: .8rem;
}
/* MENU RESPONSIVE */
@media (max-width: 990px) {
    .navbar-nav .nav-item{
        border-top: 1px solid  #ffffff;
    }
 
    .logo-menu{
     display:block;
     }
 
     .cabezera{
         display: none;
     }
 
     .caja{
         display: none;
     }
 
     .img-disp-mobil{
         display: block;
     }
 }
/* OTROS */
@media (max-width: 767px) {
    .img-regl{
        margin-left:15px;
        
    }
}

@media (max-width: 767px) {
    .principal {
        width: 100%;
}
}


@media (min-width: 600px) {
    html {
        font-size: 100%;
    }
    
}

@media (max-width: 767px) {
    .style-search{
        display:none;
    }
}

